a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

li {
  list-style-type: none;
}

#container {
  display: block;
  margin: auto;
  width: 960px;
  color: #111;
}

h1 {
  height: 1.0em;
  padding-top: 10px;
  padding-bottom: 0px;
  font: normal normal normal 4.8em/normal Arial, Times, serif;
}

h2 {
  height: 1em;
  color: #FFF;
  /*color: #2d5824; */
  font: normal normal normal 2em/normal Arial, Times, serif;
/*  border-bottom: 1px solid #aaf6aa;*/
}

.pageBreak {
  height: 3px;
  background-color: #FFF;
  border-bottom: 2px solid #999;
}

.pageBreakArea {
  clear:both;
  padding-top: 15px;
}

#bookHeader{
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 3px solid #4C0707;
}

#blogHeader{
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 3px solid #417309;
}

#websiteHeader{
  padding-bottom: 10px;
  margin-bottom: 12px;
  border-bottom: 3px solid #433F9F;
}

.innerColumnImage {
  margin-left: 15px;
}

h3 {
  height: 1em;
  color: #e0e0b8;
  font: normal normal normal 1.5em/normal Georgia, Times, serif;
}

#below-header {
  border-bottom: 5px solid #FFF;
  width: 100%;
}

#below-header2 {
  border-bottom: 3px solid #999;
  width: 100%;
}

#header-name a{
  color: #FFF;
  text-decoration: none;
  float: left;
}

body {
  background-color: #050505;
}

#body-interior {
  margin-top: 20px;
  width: 960px;
}

.myColumn{
  width: 283px;
  float: left;
}



.innerColumn {
  width: 253px;
  margin-left: 15px;
}

.redBorder {
  border-left: 2px solid #8B2023;
  border-right: 2px solid #8B2023;
}

.redBorderTopBot {
  border-top: 2px solid #8B2023;
  border-bottom: 2px solid #8B2023;
}

.purpleBorder {
  border-left: 2px solid #532FAF;
  border-right: 2px solid #532FAF;
}

.purpleBorderTopBot {
  border-top: 2px solid #532FAF;
  border-bottom: 2px solid #532FAF;
}

.greenBorder {
  border-left: 2px solid #417309;
  border-right: 2px solid #417309;
}

.greenBorderTopBot {
  border-top: 2px solid #417309;
  border-bottom: 2px solid #417309;
}

.innerColumn p {
  color: #222;
  padding-top: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.brighter-red {
  background-color: #4B1013;
}

.brighter-purple {
  background-color: #201F6F;
}

.brighter-green {
  background-color: #204010;
}

.white {
  background-color: #FFF;
}

.red {
  background-color: #0D0000;
}

.purple {
  background-color: #030013;
}

.green {
  background-color: #000A00;
}

.header-navigation {
  border-top: 3px solid #FFF;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  margin-right: 10px;
  position: relative;
  float: left;
}

.header-navigation p {
  float: left;
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}


.secondaryPic {
  position: absolute;
  margin-top: -186px;
}

#navigation {
  overflow: hidden;
  padding-top: 70px;
}

.prepend-half {
  padding-left: 15px;
}

.imageArea {
  height: 186px;
  width: 283px;
}

#twitter-feed{
  clear: both;
}

#twitter-area
{
  clear: both;
  width: 182px;
  float: right;
}

#leftOfTwitter {
  width: 698;
  float: left;
}

#twitter-header {
  float: left;
}

#twitter-image{
  float: left;
  margin-right: 20px;
  margin-top: -7px;
}

#follow-me-on-twitter-image {
  float: right;
  margin-top: -15px;
  width: 182px;
  height: 64px;
  padding-bottom: 5px;
  z-index: 5;
}

.topOfTweet{
  background-image:url('/images/topOfTweet.png');
  height: 13px;
}

.bottomOfTweet {
  height: 10px;
  background-image:url('/images/bottomOfTweet.png');
  margin-top: -5px;
/*
  height: 18px;
  margin-bottom: 5px; 
  margin-top: -8px;
  */
}

.tweet
{
  border-left: 2px solid #5090B0;
  border-right: 2px solid #5090B0;
 /* border-bottom: 2px solid #5090B0;*/
  background-color: #fff;
  font-size: 11px;
}

.tweet p {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: 0px;
}

#header {
  margin: auto;
  height: 90px;
  width: 960px;
  overflow: hidden;
}

#header-name{
  z-index: 1;
}

#pragProgInfo {
  height: 60px;
  float: left;
  background-color: #fff;
  margin-top: 30px;;
  width: 585px;
}

#pragProgSide {
  margin-top: 30px;
}

.bookTitle {
  font-style: italic;
}

#pragProgLogoArea img{
  float: left;
}

#pragProgLogoArea {
  height: 145px;
}

.infoArea {
  width: 880px;
  clear: both;
  padding-top: 30px;
  margin-bottom: 20px;
}

#bookInfo2 {
  background-color: #FFF;
  width: 583px;
  height: 130px;
  margin-top: 25px;
  float: left;
}

.redSide{
  margin-top: 25px;
}

.greenSide{
  margin-top: 40px;
}

#bookInfoArea2{
  height: 200px;
}

#bookInfoArea2 img{
  float: left;
}

#bookInfo {
  background-color: #FFF;
  width: 583px;
  height: 100px;
  margin-top: 40px;
  float: right;
}

.paragraphInfo {
  margin: 10px 10px 10px 10px;
  font-size: 13px;
}

.paragraphInfo a{
  color: #532FAF;
  text-decoration: underline;
}

#main-content {
  float: left;
  margin-top: 15px;
  min-height: 600px;
}

#bookPage {
  font-size: 40px;
  width: 960px;
}

#bookInfoArea{
  height: 200px;
}

.quoteArea{
  float: right;  
  width: 283px;
  height: 186px; 
}

.quoteArea img{
  z-index: 1;
}

.quoteArea p{
  z-index: 2; 
  font-size: 20px;
  width: 165px;
  height: 120px;
  margin-top: 50px;
  margin-left: 60px;
  position: absolute;
  color: #444;
}

#bookInfoArea img{
  float: right;
}

#copyright {
  text-align: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  color: #fff;
}
