<div id="pragProgLogoArea" class="prepend-1 append-1">
  <%= link_to image_tag("pragProgLogo.png"), "http://pragprog.com/titles/jgade/test-driven-development-for-embedded-c" %>
  <div id="pragProgInfo">
    <h2>Find my book <span class="bookTitle">Test Driven Development For Embedded C</span> on the Pragmatic Programmers bookshelf.</h2>
  </div>
  <%= image_tag("pragProgSide.png", :id => "pragProgSide") %>
</div>
