<div id="header"> 
  <div class="span-23 prepend-1">
    <h1 id="header-name">
      <%= link_to @page_header[:name], @page_header[:link], :id=>@page_header[:theid]%>
    </h1>
  </div>
</div>
<div id="below-header">
</div>
<div id="below-header2">
</div>

